

@model List<ContactApp.Models.Person>;


<table class="table table-sm table-bordered table-striped table-dark table-hover">
    <thead>
        <tr class="table-info">
            <th class="col">@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().Sex)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().State)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().City)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().Birthday)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().PhoneNumbers)</th>
            <th class="col">@Html.DisplayNameFor(model => model.First().EmailAddresses)</th>
            <th class="col">Edit</th>
            <th class="col">Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.Sex</td>
                <td>@person.State</td>
                <td>@person.City</td>
                <td>@person.Birthday</td>
                <td>
                    @if (person.PhoneNumbers != null)
                    {
                        @foreach (var phoneNumber in person.PhoneNumbers)
                        {
                            <div>@phoneNumber.Phone</div>
                        }
                    }
                </td>
                <td>
                    @if (person.EmailAddresses != null)
                    {
                        @foreach (var emailAddress in person.EmailAddresses)
                        {
                            <div>@emailAddress.Email</div>
                        }
                    }
                </td>
                <td>
                    <button class="btn btn-primary btn-sm" 
                            onclick="editPerson(@person.PersonID)">Edit</button>
                </td>
                <td>
                    <button class="btn btn-danger btn-sm" 
                            onclick="delPerson(@person.PersonID)">
                        Delete
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>
